{% extends 'main.html' %}

{% block content %}
<div class="container mt-4">
  <header class="text-center mb-4">
    <h1>Scrum Board</h1>
  </header>

  <div class="row g-4 justify-content-center">
    {% for column, color in combined %}
    <div id="{{ column }}" data-status="{{ 'PROGRESS' if column == 'In Progress' else column|upper }}"
      class="col-md-2 dropzone" ondragover="allowDrop(event)" ondrop="drop(event)">
      <h4 class="bg-{{ color }} text-white p-2 rounded">{{ column }}</h4>

      {% if column == "Backlog" %}
      {% if active_user is not none and active_user.check_rights_num(5) %}
      <button type="button" class="btn btn-sm btn-outline-primary w-100 mb-2" data-bs-toggle="modal"
        data-bs-target="#addTaskModal">Add Task</button>
      {% endif %}
      {% endif %}

      {% for ticket in column_tickets[column] %}
      <div id="ticket{{ ticket.ticket_id }}" class="card my-2 draggable" draggable="true"
        ondragstart="dragStart(event)">
        <div class="card-body">
          <h6 class="card-title">{{ ticket.title }}</h6>
          <p class="card-text">{{ ticket.description }}</p>
          {% for user in ticket.users %}
          <p class="card-text"><small class="text-muted">{{ user.username }}</small></p>
          {% endfor %}
          <p class="card-text">Hours: {{ ticket.hours }}</p>

          {% if active_user is not none and active_user.check_rights_num(4) %}
            <form action="{{ url_for('edit_task') }}" method="POST" class="d-inline">
              <input type="hidden" name="ticket_id" value="{{ ticket.ticket_id }}" required>
              <button type="submit" class="btn btn-sm btn-primary">Edit</button>
            </form>
            <form action="{{ url_for('del_task') }}" method="POST" class="d-inline">
              <input type="hidden" name="ticket_id" value="{{ ticket.ticket_id }}" required>
              <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
          {% else %}
            <form action="{{ url_for('del_task') }}" method="POST" class="d-inline">
            <!-- <div class="col-sm-12 text-center"> -->
            <!-- <div title="You do not have the rights to edit a task">
                <button type="button" class="btn btn-primary btn-md center-block" Style="width: 100px;" disabled>Edit</button>
              </div> -->
            <div title="You do not have the rights to delete a task" class="col-sm-12 text-center">
              <button type="submit" class="btn btn-danger btn-md center-block" Style="width: 100px;"
                disabled>Delete</button>
            </div>
            <!-- </div> -->
          </form>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTaskModalLabel">Create Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('add_task') }}" method="post">
          <div class="mb-3">
            <label for="task-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="task-title" name="title" required>
          </div>
          <div class="mb-3">
            <label for="task-description" class="form-label">Description</label>
            <textarea class="form-control" id="task-description" name="description" required></textarea>
          </div>
          <div class="mb-3">
            <label for="task-hours" class="form-label">Hours</label>
            <input type="number" min="1" class="form-control" id="task-hours" name="hours" required>
          </div>
          <div class="mb-3">
            <label for="task-assignee" class="form-label">Assignee</label>
            <select class="form-control" id="task-assignee" name="assignee">
              <option value="-1" selected></option>
              {% for user in valid_users %}
              <option value="{{user.user_id}}">{{user.username}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal fade" id="editTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="editTaskModalLabel"></h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='javascript/drag_drop.js') }}"></script>
<script type="text/javascript">
    window.onload = () => {
      const myModal = new bootstrap.Modal('#editTaskModal');
      myModal.show();
    }
</script>
{% endblock %}