{% extends 'main.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="text-align: center;">
      <!-- Login Form -->
      <form id="loginForm" method="POST" class="form-signin needs-validation" novalidate>
        <h5 id="loginOutputResult" style="color:red"></h5>
        <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
        <!-- UserName -->
        <input name="userName" type="text" id="username" class="form-control" placeholder="User Name" required>
        <div class="invalid-feedback">User Name is required.</div>
        <br />
        <!-- Password -->
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="invalid-feedback">Password is required.</div>
        <br>
        <!-- Submit Button -->
        <button class="btn btn-lg btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
      </form>
      <!-- End Login Form -->
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
{% endblock %}