{% extends 'main.html' %}

{% block content %}
<div class="container mt-4">
  <h2>Reset Password for {{ user.username }}</h2>
  <form action="{{ url_for('reset_user_password', user_id=user.user_id) }}" method="post">
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password:</label>
      <input type="password" class="form-control" id="newPassword" name="password" required>
    </div>
    <button type="submit" class="btn btn-warning">Reset Password</button>
  </form>
</div>
{% endblock %}